
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script><section id="entryPage">
    <h2 id="entryPage-Header">Select which function you would like to use:</h2>
    <body>

        <div id="entryPage-container">
            <div class="app-item1">
                <h2 class="entrytitle">Submit a tex receipt</h2>
                <img style="width:50px" src="https://source.unsplash.com/71u2fOofI-U">
                <button  onclick="location.href = '/test';">Click Here</button>
            </div>
                <div class="app-item2">
                    <h2 class="entrytitle">View all tax receipts</h2>
                    <img style="width:50px" src="https://source.unsplash.com/9fHMo1-5Io8">
                    <button  onclick="location.href = '/all';">Click Here</button>
                </div>
            </div>
