
<section id="entryPage" style="justify-content: center;
display: grid;background-color: pink;">
    <h2 id="entryPage-Header" style="font-family: sans-serif;
    font-size: x-large;
    color: hotpink;justify-content: center;width: 250px;">Select which function you would like to use:</h2>
    <body>

        <div id="entryPage-container">
            <div class="app-item1" style="font-family: sans-serif;
            font-size: medium;
            color: hotpink;justify-content: center;width: 250px;">
                <h2 class="entrytitle">Submit a tex receipt</h2>
                <img style="width:200px;display: flex;" src="https://source.unsplash.com/iJMitgqRaZ8">
                <button style="border: deeppink;
                border-radius: 5px;
                padding: 10px;
                justify-content: center;
                margin: 10px;
                display: inline-flex" onclick="location.href = '/test';">Click Here</button>
            </div>
                <div class="app-item2" style="font-family: sans-serif;
                font-size: medium;
                color: hotpink;justify-content: center;width: 250px;">
                    <h2 class="entrytitle">View all tax receipts</h2>
                    <img style="width:200px; display:flex" src="https://source.unsplash.com/5616whx5NdQ">
                    <button style="border: deeppink;
                    border-radius: 5px;
                    padding: 10px;
                    justify-content: center;
                    margin: 10px;
                    display: inline-flex" onclick="location.href = '/all';">Click Here</button>
                </div>
                <div class="app-item3" style="font-family: sans-serif;
                font-size: medium;
                color: hotpink;justify-content: center;width: 250px;">
                    <h2 class="entrytitle">View pay period report</h2>
                    <img  style="width:200px; display:flex"src="https://source.unsplash.com/lCPhGxs7pww">
                    <button style="border: deeppink;
                    border-radius: 5px;
                    padding: 10px;
                    justify-content: center;
                    margin: 10px;
                    display: inline-flex"  onclick="location.href = '/tax-info';">Click Here</button>
                </div>
            </div>
