<h1>Your Profile!</h1>
<div>
    <h1>Add a new job!</h1>

    <form id="new-job-form" method="POST" action="/profile">
        <label for="job-title">Job title</label>
        <input type=text name="job-title">
        <label for="pay">What is your pay and rate?</label>
        <input type=text name="pay">
        <input type=text name="period">
        <label for="company-name">Company name</label>
        <input type=text name="company-name">
        <label for="role">What is your role?</label>
        <input type=text name="role">

    </form>
</div>