<div class="uploaded-images">
    <% images.forEach(function(image) { %>
          <img class="image" src="data:image/<%=image.image.contentType%>;base64,
          <%=image.image.data.toString('base64')%>">
    <% }); %>
</div>